@charset "UTF-8";
/*主导航*/
.navbar-main {
  position: relative;
  box-shadow: 0 1px 3px #e3e3e3;
  background: #fff;
  filter: none;
  border: none;
  padding-left: 0;
  padding-right: 0;
  border-radius: 0;
  /*导航菜单-S*/
  /*导航菜单-E*/
  /*用户登录-S*/
  /*用户登录小屏幕-S*/
  /*用户登录小屏幕-E*/
  /*用户弹出导航-S*/
  /*用户弹出导航-E*/
  /*用户登录-E*/ }
  .navbar-main .navbar-collapse {
    position: relative; }
  .navbar-main .navbar-brand {
    -moz-transition: padding 0.3s ease-in-out;
    -webkit-transition: padding 0.3s ease-in-out;
    -o-transition: padding 0.3s ease-in-out;
    transition: padding 0.3s ease-in-out;
    position: relative;
    z-index: 2; }
  .navbar-main .scrolling-fixed .navbar-brand {
    padding: 0 15px; }
  .navbar-main a.logo-v1 img {
    -moz-transition: margin 0.2s ease-in-out;
    -webkit-transition: margin 0.2s ease-in-out;
    -o-transition: margin 0.2s ease-in-out;
    transition: margin 0.2s ease-in-out; }
  .navbar-main .navbar-menu .navbar-nav > .active > a {
    color: #e84a39;
    border-radius: 0;
    text-shadow: none;
    padding-top: 26px;
    box-shadow: none !important;
    border-bottom: solid 2px #e84a39;
    background-color: #fff;
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffffffff', GradientType=0); }
  .navbar-main .navbar-menu .navbar-nav > li > a {
    display: block;
    color: #333;
    font-size: 18px;
    font-weight: 400;
    text-shadow: none;
    position: relative;
    padding: 26px 16px 27px !important;
    border-top: solid 2px #fff;
    -moz-transition: padding 0.3s ease-in-out;
    -webkit-transition: padding 0.3s ease-in-out;
    -o-transition: padding 0.3s ease-in-out;
    transition: padding 0.3s ease-in-out; }
    .navbar-main .navbar-menu .navbar-nav > li > a:hover, .navbar-main .navbar-menu .navbar-nav > li > a .active > a, .navbar-main .navbar-menu .navbar-nav > li > a .active:hover > a {
      color: #e84a39;
      border-radius: 0;
      text-shadow: none;
      padding-top: 26px;
      box-shadow: none !important;
      border-bottom: solid 2px #e84a39; }
    .navbar-main .navbar-menu .navbar-nav > li > a:focus, .navbar-main .navbar-menu .navbar-nav > li > a:hover {
      color: #e84a39; }
  .navbar-main .navbar-user .navbar-nav > .open > a, .navbar-main .navbar-user .navbar-nav > .open > a:hover, .navbar-main .navbar-user .navbar-nav > .open > a:focus {
    color: #666;
    background-color: #fff;
    background-image: none;
    box-shadow: none; }
  .navbar-main .navbar-user .login {
    padding-top: 10px;
    font-size: 12px; }
  .navbar-main .navbar-user .name {
    padding-right: 10px;
    padding-top: 10px;
    font-size: 12px; }
  .navbar-main .navbar-user .divider {
    margin: 0; }
  .navbar-main .navbar-user .dropdown-menu {
    position: absolute;
    top: 138%; }
    .navbar-main .navbar-user .dropdown-menu:before {
      position: absolute;
      top: -7px;
      right: 15px; }
    .navbar-main .navbar-user .dropdown-menu:after {
      position: absolute;
      top: -6px;
      right: 16px; }
  .navbar-main .navbar-xs-user {
    padding-top: 13px; }
    .navbar-main .navbar-xs-user .dropdown-toggle .avatar {
      font-size: 18px;
      margin-right: 15px;
      margin-top: -5px; }
    .navbar-main .navbar-xs-user .user {
      padding: 0 20px; }
      .navbar-main .navbar-xs-user .user .side {
        margin-left: 10px; }
      .navbar-main .navbar-xs-user .user .integral i {
        margin-right: 10px; }
    .navbar-main .navbar-xs-user .divider {
      margin: 0; }
    .navbar-main .navbar-xs-user .dropdown-menu {
      position: absolute;
      top: 112%; }
      .navbar-main .navbar-xs-user .dropdown-menu:before {
        position: absolute;
        top: -7px;
        right: 24px; }
      .navbar-main .navbar-xs-user .dropdown-menu:after {
        position: absolute;
        top: -6px;
        right: 25px; }
  .navbar-main .dropdown-menu {
    padding: 0;
    margin: 2px 0 0;
    font-size: 12px;
    background-color: #fff;
    border: 1px solid #e3e3e3;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none; }
    .navbar-main .dropdown-menu:before {
      display: inline-block !important;
      border-right: 7px solid transparent;
      border-bottom: 7px solid #e3e3e3;
      border-left: 7px solid transparent;
      border-bottom-color: rgba(0, 0, 0, 0.2);
      content: ''; }
    .navbar-main .dropdown-menu:after {
      display: inline-block !important;
      border-right: 6px solid transparent;
      border-bottom: 6px solid #fff;
      border-left: 6px solid transparent;
      content: ''; }
    .navbar-main .dropdown-menu > li:hover {
      background: #f8f8f8; }
    .navbar-main .dropdown-menu > li > a {
      clear: both;
      font-family: "微软雅黑";
      font-size: 14px;
      color: #333;
      display: block;
      font-weight: 400;
      padding: 15px 20px;
      white-space: nowrap; }
    .navbar-main .dropdown-menu > li > a:hover, .navbar-main .dropdown-menu > li > a:foucs {
      background: #f8f8f8; }
    .navbar-main .dropdown-menu .menu span {
      width: 30px;
      display: inline-block;
      padding-right: 10px;
      font-size: 14px;
      color: #e3e3e3; }

/*BEGIN max and min width 992px*/
@media (min-width: 992px) {
  /*BEGIN NAVIGATION (WHILE RESIZING WINDOW)*/
  .navbar-main a.logo-v1 img {
    margin-top: 12px; }
  .navbar-main .scrolling-fixed a.logo-v1 img {
    margin-top: 17px; }
  .navbar-main .nav li > a:hover, .navbar-main .nav li .active > a, .navbar-main .nav li .active:hover > a {
    background: #fff !important; }
  .navbar-main .nav li > a:hover {
    background: none !important; }
  .navbar-main .nav li .active > a:after {
    top: 0;
    width: 0;
    height: 0;
    left: 50%;
    z-index: 2;
    content: " ";
    display: block;
    margin-left: -3px;
    position: absolute;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent; }

  /*END NAVIGATION (WHILE RESIZING WINDOW)*/ }
@media (max-width: 992px) {
  /*BEGIN NAVIGATION*/
  .navbar-main .navbar-brand {
    padding: 15px; }
  .navbar-main .nav-collapse > ul {
    float: inherit;
    margin-top: 12px !important; }
  .navbar-main .nav-collapse {
    margin-bottom: 0; }
    .navbar-main .nav-collapse .nav > li.active > a, .navbar-main .nav-collapse .nav > li > a:hover, .navbar-main .nav-collapse .nav > li > a:focus {
      background: none;
      border-top: 0px !important; }

  /*END NAVIGATION*/
  /*END max and min width 979px*/
  /*BEGIN max and min width 767px*/ }
@media (max-width: 992px) and (max-width: 767px) {
  .navbar-brand {
    padding: 15px; }

  /*BEGIN NAVIGATION*/
  .navbar-main .nav li a {
    padding: 10px 15px; }
  .navbar-main .nav li > a:hover, .navbar-main .nav li.active > a, .navbar-main .nav li.active:hover > a {
    border: none;
    padding-top: 10px; } }
@media (max-width: 992px) {
  /*END NAVIGATION*/ }
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 992px) {
  /*BEGIN NAVIGATION*/
  .navbar-main .nav li {
    margin-left: 0;
    margin-right: 20px; }
    .navbar-main .nav li li {
      margin-right: 0; }
    .navbar-main .nav li li > a, .navbar-main .nav li li:hover > a, .navbar-main .nav li li.active > a, .navbar-main .nav li li.active:hover > a {
      padding: 9px 15px !important; }
    .navbar-main .nav li a {
      padding: 10px 15px; }
    .navbar-main .nav li > a, .navbar-main .nav lili:hover > a, .navbar-main .nav li.active > a, .navbar-main .nav li.active:hover > a {
      padding: 12px 0 13px !important;
      border: none !important; }
  .navbar-main .nav > li {
    padding-bottom: 4px; }
  .navbar-main .nav li > a:hover, .navbar-main .nav li.active > a, .navbar-main .nav li.active:hover > a {
    border: none;
    padding-top: 10px;
    background: none !important; }
  .navbar-main .navbar-collapse {
    float: none;
    margin-left: -15px; }
  .navbar-main ul.nav {
    clear: both;
    float: left; }

  /*END NAVIGATION*/ }
@media (max-width: 768px) {
  .navbar-main .scrolling-fixed a.logo-v1 img {
    margin-top: 19px; }
  .navbar-main .navbar-collapse {
    max-height: 3000px;
    padding: 0; }
  .navbar-main ul.nav {
    float: none;
    margin: 0; }
  .navbar-main .nav li > a, .navbar-main .nav li > a:hover, .navbar-main .nav li.active > a, .navbar-main .nav li.active:hover > a {
    border: none !important;
    color: #fff;
    font-size: 16px; }
  .navbar-main .navbar-nav li {
    border-bottom: 1px solid #e5e5e5;
    padding: 0; }
  .navbar-main .navbar-menu .navbar-nav > li > a {
    padding: 15px 15px 15px !important;
    font-size: 16px; }
  .navbar-main .navbar-menu .navbar-nav > li > a:hover, .navbar-main .navbar-menu .navbar-nav > .active > a {
    background: #e84a39;
    color: #fff; }
  .navbar-main .nav .dropdown-menu li a:hover, .navbar-main .nav li.active .dropdown-menu li a:hover {
    background: #EFEFEF; } }
@media (max-width: 766px) {
  .no-space-steps {
    padding: 0; } }
/* 路径导航-S */
.breadcrumb {
  background: none;
  margin-bottom: 0;
  margin-left: -10px;
  padding: 0; }
  .breadcrumb ul {
    margin-bottom: 0; }
  .breadcrumb .dropdown {
    float: left;
    margin: 0 15px 15px 0px;
    font-family: "微软雅黑";
    font-size: 14px;
    color: #9fa1ab;
    padding: 10px; }
    .breadcrumb .dropdown:after {
      position: absolute;
      top: 10px;
      right: -10px;
      content: "/";
      color: #e3e3e3;
      padding-left: 10px; }
    .breadcrumb .dropdown:last-child:after {
      content: " "; }
    .breadcrumb .dropdown:hover, .breadcrumb .dropdown:focus {
      text-decoration: none; }
    .breadcrumb .dropdown .dropdown-toggle {
      padding: 0;
      color: #666; }
      .breadcrumb .dropdown .dropdown-toggle:hover, .breadcrumb .dropdown .dropdown-toggle:focus {
        background: #fff;
        text-decoration: none; }
    .breadcrumb .dropdown a {
      padding: 0;
      color: #666; }
      .breadcrumb .dropdown a:hover, .breadcrumb .dropdown a:focus {
        background: #fff;
        text-decoration: none; }
    .breadcrumb .dropdown .glyphicon {
      color: #9fa1ab; }
    .breadcrumb .dropdown .caret {
      color: #ccc; }
  .breadcrumb .dropdown-menu {
    top: 0;
    border: none;
    background: transparent;
    text-shadow: none;
    box-shadow: none;
    height: 60px;
    padding: 0; }
    .breadcrumb .dropdown-menu .dropdown-toggle {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      color: #666;
      font-family: "微软雅黑";
      font-size: 14px;
      background: #fff;
      border: 1px solid #e3e3e3;
      border-bottom: 0;
      padding: 9px 9px 11px 9px;
      z-index: 99; }
      .breadcrumb .dropdown-menu .dropdown-toggle:hover {
        text-decoration: none; }
    .breadcrumb .dropdown-menu ul {
      position: absolute;
      top: 100%;
      margin-top: -20px;
      left: 0;
      background: #fff;
      border: 1px solid #e3e3e3;
      padding: 5px 0px; }
    .breadcrumb .dropdown-menu li > a {
      display: block;
      clear: both;
      color: #666;
      font-family: "微软雅黑";
      font-size: 14px;
      padding: 3px 15px;
      margin-bottom: 5px;
      white-space: nowrap; }
      .breadcrumb .dropdown-menu li > a:hover {
        background: #e8e8e8; }

/* 路径导航-E */

/*# sourceMappingURL=navbar.css.map */
