.level-top {
  background: #fff; }

.level-user {
  padding: 28px 30px;
  text-align: center; }
  .level-user img {
    width: 72px;
    height: 72px;
    border-radius: 50%; }
  .level-user h4 {
    font-size: 14px;
    line-height: 24px;
    margin-top: 10px; }

.level-main {
  background: #fff;
  margin-bottom: 30px;
  padding: 26px 3% 20px; }
  .level-main dl {
    font-size: 12px;
    color: #666; }
    .level-main dl dd {
      float: left;
      line-height: 18px; }
    .level-main dl i {
      color: #ff6600;
      font-size: 14px; }
    .level-main dl .level-no {
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      -ms-border-radius: 4px;
      border-radius: 4px;
      background: #ff6600;
      color: #fff;
      padding: 0 6px; }
    .level-main dl .level {
      font-size: 12px;
      color: #fff;
      line-height: 18px; }
      .level-main dl .level i {
        color: #fff; }
      .level-main dl .level em {
        line-height: 12px; }
    .level-main dl .level-rule {
      float: right; }
      .level-main dl .level-rule a {
        font-size: 12px;
        color: #666;
        text-decoration: underline; }
  .level-main .level-bar {
    position: relative;
    padding: 25px 0;
    margin-top: 15px; }
    .level-main .level-bar .level-per {
      position: relative;
      width: 100%;
      height: 4px;
      background: #fff294; }
      .level-main .level-bar .level-per .percent {
        position: absolute;
        left: 0;
        top: 0;
        height: 4px;
        background: #ff6600; }
    .level-main .level-bar ul {
      position: absolute;
      width: 100%; }
    .level-main .level-bar li {
      position: absolute;
      top: 50%;
      margin-top: -12px;
      width: 24px;
      height: 24px;
      border: 2px solid #fff294;
      box-shadow: 0px 0px 4px 4px #fffbd9;
      background: #fff;
      text-align: center;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      border-radius: 50%; }
      .level-main .level-bar li .level {
        color: #fada29; }
        .level-main .level-bar li .level .iconfont {
          font-size: 12px; }
        .level-main .level-bar li .level em {
          line-height: 12px; }
    .level-main .level-bar li:nth-child(1) {
      left: 0; }
    .level-main .level-bar li:nth-child(2) {
      left: 7.6%; }
    .level-main .level-bar li:nth-child(3) {
      left: 18.2%; }
    .level-main .level-bar li:nth-child(4) {
      left: 29.4%; }
    .level-main .level-bar li:nth-child(5) {
      left: 41.2%; }
    .level-main .level-bar li:nth-child(6) {
      left: 54.2%; }
    .level-main .level-bar li:nth-child(7) {
      left: 67.8%; }
    .level-main .level-bar li:nth-child(8) {
      left: 82.8%; }
    .level-main .level-bar li:nth-child(9) {
      right: 0; }
    .level-main .level-bar .pass-level .level {
      color: #ff6600; }
    .level-main .level-bar .now-level {
      width: 34px;
      height: 34px;
      padding: 4px 0;
      margin-top: -17px; }
      .level-main .level-bar .now-level .level .iconfont {
        font-size: 16px; }

.rule-main {
  padding: 0 30px;
  background: #fff;
  margin-top: 30px;
  padding-bottom: 60px; }
  .rule-main h3 {
    font-size: 18px;
    line-height: 80px;
    border-bottom: 1px solid #e5e5e5; }
  .rule-main ul {
    margin-top: 30px; }
  .rule-main li {
    line-height: 34px;
    font-size: 14px;
    color: #444; }

@media (min-width: 768px) {
  .rule-main {
    margin-bottom: 75px; }

  .rule-pic img {
    margin-top: -110px; } }

/*# sourceMappingURL=level_rule.css.map */
