@charset "UTF-8";

//配色
$color: #333;
$paleColor: #999;
$baseColor: #ffe100;
$linkColor: #111;
$bgColor: #fff;
$bgpartColor: #e9e9e9;
$border: 1px solid #e5e5e5;
$borderDeep: 1px solid #333;
$borderHover: 1px solid #ffe100;

//大小
$fontSize: 14px;
//动画
@mixin transition($speed:.3s,$obj:all) {
    -webkit-transition: $obj $speed;
    -moz-transition: $obj $speed;
    -ms-transition: $obj $speed;
    transition: $obj $speed;
}

@mixin transform($type){
    -webkit-transform: $type;    
    -moz-transform: $type;    
    -ms-transform: $type;    
    transform: $type;    
}

@mixin borderRadius($radius:4px){
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}

@mixin animate($parameter){
    -webkit-animation: $parameter;
    -moz-animation: $parameter;
    -ms-animation: $parameter;
    animation: $parameter;
}


@mixin compatible($name,$attr){
    -webkit-#{$name} : $attr;
    -moz-#{$name} : $attr;
    -ms-#{$name}: $attr;
     #{$name} : $attr;
}
@mixin keyframes($name){ 
    @-webkit-keyframes #{$name} { @content;}; 
    @-moz-keyframes #{$name} { @content;};  
    @-ms-keyframes #{$name} { @content;};  
    @keyframes #{$name} { @content;};
}