@charset "UTF-8";
@import "base";


.footer {
    width: 100%;
    padding: 40px 0;
    background: #f6f6f6;
}
.footer-list li {
    float: left;
    width: 20%;
    text-align: left;
}
.footer-list li dt {
    color: $color;
    font-size: $fontSize;
    line-height: 22px;
    margin-bottom: 15px;
}
.footer-list li dd a {
    font-size: 12px;
    color: #4c4c4c;
    line-height: 30px;
}
.footer-list li dd a:hover { text-decoration: underline;}
.footer-info span {
    display: block;
    text-align: right;
}
.footer-tel {
    font-size: 22px;
    color: #333;
    line-height: 30px
}
.footer-time {
    font-size: $fontSize;
    color: #333;
    line-height: 22px;
}
.footer-kefu {
    display: block;
    margin-top: 8px;
    float: right;
    text-align: center;
    width: 154px;
    line-height: 28px;
    border: $borderDeep;
    @include transition;
}
.footer-kefu .iconfont { margin-right: 10px;}
.footer-kefu:hover {
    background: #333;
    color: #fff;
}
.footer-top { 
    padding-bottom: 40px;
    border-bottom: $border;
}
.footer-copyright {
    padding-top: 18px;
    text-align: center;
    line-height: 26px;
    font-size: 12px;
    color: $paleColor;
}

.foot-wechat { position: relative;}
.foot-wechat:hover .follow-wechat { display: block;}
.follow-wechat {
    display: none;
    position: absolute;
    bottom: 40px;
    left: -58px;
    width: 162px;
    padding: 22px;
    background: #fff;
    border: 1px solid #ccc;
    text-align: center;
    z-index: 100;
    img { 
        width: 100%;
    }
    p {
        font-size: 14px;
        line-height: 24px;
        margin-top: 8px;
    }
    span {
        display: block;
        text-align: center;
        font-size: 12px;
        line-height: 16px;
        color: #999;
        margin-top: 10px;
    }
    .arrow-down {
        position: absolute;
        bottom: -11px;
        left: 50%;
        margin-left: -11px;
        width: 22px;
        height: 12px;
        background: url(../../images/about/arrow_down.png) no-repeat center;
        background-size: contain;
    }
}