@charset "UTF-8";
@import "base";

.item-top {
    margin-top: 35px;
    border: $border;
}
@media (min-width: 992px){
    .item-top .col-md-5 {
      width: 38.666667%;
    }
    .item-top .col-md-1 {
      width: 11.33333333%;
    }
    .try-pro-deta { margin-top: 52px;}
    .try-care-item dl {  padding: 20px 152px 30px 82px;}
    .item-info .item-btn a { font-size: 18px;}
}
@media (max-width: 992px){
    .try-care-item dl {  padding: 20px 10px;}
    .item-info .item-btn a { font-size: 14px;}
}
.item-left { 
    padding-top: 30px;
}
.item-pic {
    display: block;
    width: 100%;
}
.item-pic img { width: 100%;}
.item-share {
    margin-top: 25px;
    .share {
        float: left;
        border-right: $border;
        padding-right: 8px;
    }
    .share a {
        padding-left: 20px;
        height: 20px;
        background-size: 100%;
        margin: 0 4px 0 0;
    }
    .bdshare-button-style1-24 .bds_qzone {
      background-position: 0 -44px;
    }
    .bdshare-button-style1-24 .bds_tsina {
      background-position: 0 -88px;
    }
    .bdshare-button-style1-24 .bds_tqq {
      background-position: 0 -217px;
    }
    .bdshare-button-style1-24 .bds_renren {
      background-position: 0 -174px;
    }
    .bdshare-button-style1-24 .bds_weixin {
      background-position: 0 -1343px;
    }
    .bdshare-button-style1-24 .bds_sqq {
      background-position: 0 -2210px;
    }
    .item-coll {
        float: left;
        padding-left: 12px;
        font-size: 12px;
        line-height: 20px;
        color: #666;
    }
    .item-coll span { float: left;}
    .collect {
        width: 20px;
        height: 20px;
        line-height: 20px;
        margin-right: 8px;
    }
    .collect .iconfont { font-size: 12px;}
}


.item-info {
    padding-top: 30px;
    h4 {
        font-size: 16px;
        line-height: 16px;
        color: #111;
    }
    .icon-tianmao,.icon-taobao {
        font-size: 16px;
        margin-right: 8px;
    }
    .item-price {
        margin-top: 27px;
        background: #f7f7f7;
        padding: 24px 4%;
    }
    .item-price span {
        float: left;
        font-size: 12px;
        color: #111;
    }
    .price-real {
        font-size: 18px;
        line-height: 32px;
    }
    .price-real i { font-size: 32px;}
    .item-price .price-tags {
        margin-left: 12px;
        height: 18px;
        line-height: 18px;
        font-size: 12px;
        color: #fff;
        background: #ff7200;
        padding: 0 6px;
        @include borderRadius;
    }
    .price-sell,.price-discount {
        font-size: 18px;
        padding-top: 14px;
        line-height: 18px;
        margin-left: 20px;
    }
    .item-count {
        margin-top: 13px;
        line-height: 44px;
        color: $paleColor;
    }
    .count-take { float: left;}
    .count-rest { float: right;}
    .process {
        position: relative;
        width: 100%;
        height: 14px;
        border: 1px solid $baseColor;
        @include borderRadius(6px);
    }
    .process .percent {
        position: absolute;
        left: 0;
        top: 0;
        height: 12px;
        background: $baseColor;
        @include borderRadius(6px);
    }
    .item-assure,.rest-time {
        color: $color;
        font-size: 14px;
        line-height: 20px;
        margin-top: 30px;
        i{
            font-size: 20px;
            color: $baseColor;
            margin-right: 10px;
            line-height: 20px;
        }
    }
    .item-btn {
        width: 86%;
        margin-top: 30px;
        a {
            height: 50px;
            line-height: 50px;
            text-align: center;
            color: $color;
            width: 46%;
            @include borderRadius;
        }
        .buy-btn {
            float: left;
            background: $baseColor;
        }
        .detail-btn {
            float: right;
            background: #e5e5e5;
        }
    }
    .item-tips { margin-top: 30px;}
}
.item-hot {
    padding-top: 28px;
    border-left: $border;
    .hot-tit {
        position: relative;
        display: block;
        width: 100%;
        height: 1px;
        background: #e5e5e5;
        margin-bottom: 23px;
    }
    .hot-tit span {
        position: absolute;
        top: -6px;
        left: 50%;
        width: 60px;
        margin-left: -30px;
        color: #808080;
        font-size: 12px;
        line-height: 12px;
        text-align: center;
        background: #fff;
    }
    li {
        padding: 0 5px;
        text-align: center;
        font-size: 12px;
        color: #484848;
        line-height: 26px;
        margin-bottom : 7px;
    }
}

.item-process { border: $border;}
.item-process-tit {
    width: 100%;
    margin-top: 42px;
    border: $border;
    line-height: 36px;
    height: 38px;
    li {
        float: left;
        border-right: $border;
    }
    li a {
      padding: 0 30px 0 30px;
      display: block;
        font-size: 14px;
      color: $paleColor;
}
    li.selecttag {
      border-top: 2px solid $baseColor;
      background: #fff;
      margin-top: -16px;
      height: 50px;
      border-left: $border;
      margin-left: -1px;
    }
    li.selecttag a {
      color: $color;
      height: 50px;
      line-height: 50px;
        font-size: 18px;
    }
}

.try-process {
    li {
        display: block;
        cursor: pointer;
        overflow: hidden;
        @include transition;
    }
    li:after {
        display: block;
        clear: both;
        content: "";
    }
    li:nth-child(odd) {
  background: #fff;
}
    li:nth-child(even) {
  background: #f8f8f8;
}
    li:hover { box-shadow: 0 0 10px rgba(38,38,38,.3) inset;}
    .try-pro-icon {
      position: relative;
      float: left;
      width: 44px;
    margin-left: 80px;
        margin-right: 48px;
      text-align: center;
      margin-top: 66px;
    }
    .try-pro-icon .iconfont {
        display: block;
        width: 44px;
        height: 44px;
        background: $baseColor;
        font-size: 24px;
        line-height: 44px;
        color: #fff;
        border-radius: 50%;
    }
    .try-pro-borderb {
        position: absolute;
        top: 44px;
        left: 21px;
        width: 2px;
        height: 125px;
        background: #e6e6e6;
    }
    .try-pro-deta {
  float: left;
  width: 380px;
        max-width: 100%;
        padding: 14px 8px;
}
    .try-pro-deta h4 {
  font-size: 18px;
  line-height: 44px;
  color: $color;
}
    .try-pro-deta h4 i {
  font-size: 36px;
  font-style: italic;
  font-weight: 400;
  margin-right: 10px;
}
    .try-pro-deta p {
  font-size: 14px;
  line-height: 24px;
  color: #666;
  margin: 5px 0 0 32px;
}
    .try-pro-pic {
  position: relative;
  float: right;
  width: 380px;
  height: 235px;
        margin-right: 30px;
}
    .try-pro-pic img {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
}


.item-qa {
    padding: 38px 0 73px;
    margin: 0 auto;
    font-size: 18px;
    color: $color;
    
    h4 {
        font-size: 18px;
        color: $color;
        line-height: 28px;
        margin-bottom: 8px;
    }
    li {
        width: 100%;
        padding: 25px 0;
        font-size: 14px;
        border-bottom: 1px dashed #e5e5e5;
    }
    dt {
        display: -webkit-box;
        display: box;
        font-size: 14px;
        line-height: 20px;
        color: #4c4c4c;
        margin-bottom: 12px;
        span { 
            display: block;
            @include compatible(box-flex,1);
        }
    }
    dd {
        display: -webkit-box;
        display: box;
        font-size: 14px;
        color: #666;
        line-height: 20px;
        p{ 
           @include compatible(box-flex,1);
        }
    }
    .item-q,.item-a {
        display: block;
        width: 16px;
        height: 16px;
        margin: 2px 15px 2px 0;
        line-height: 16px;
        color: #fff;
        font-size: 12px;
        text-align: center;
        @include borderRadius;
    }
    .item-q { background: $baseColor;}
    .item-a { background: #b5b5b5;}
}

