@charset "UTF-8";
/*侧边通用样式-S*/
.sidebar {
  border: 1px #e3e3e3 solid;
  border-radius: 4px;
  margin-bottom: 20px; }
  .sidebar .sidebar-heaher {
    padding-top: 20px; }
    .sidebar .sidebar-heaher h4 {
      margin: 0 20px 0; }
      .sidebar .sidebar-heaher h4 small {
        font-size: 12px;
        color: #ccc;
        vertical-align: middle; }
        .sidebar .sidebar-heaher h4 small a {
          color: #ccc;
          text-decoration: none; }
          .sidebar .sidebar-heaher h4 small a:before {
            content: "|";
            padding: 0 15px;
            color: #ccc; }
          .sidebar .sidebar-heaher h4 small a:hover {
            color: #e84a39; }

/*侧边通用样式-E*/
/*侧边话题-S*/
.sidebar-toppic {
  padding: 20px 20px 10px; }
  .sidebar-toppic li {
    margin-bottom: 15px;
    border-bottom: 1px dotted #e3e3e3;
    padding-bottom: 15px; }
    .sidebar-toppic li:last-child {
      margin-bottom: 0;
      padding-bottom: 0;
      border: 0; }
    .sidebar-toppic li a {
      display: block;
      font-size: 14px;
      color: #666;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden; }

/*侧边话题-E*/
/*侧边签到-S*/
.sidebar-sign {
  margin-bottom: 20px;
  height: 40px;
  font-size: 16px;
  line-height: 25px; }
  .sidebar-sign .integral {
    border-radius: 50%;
    border: #fec500 2px solid;
    background-color: #ffe68f;
    width: 22px;
    height: 22px;
    line-height: 18px;
    color: #8e6a47;
    font-size: 14px;
    margin: 0 5px;
    display: inline-block; }

/*侧边签到-E*/
/*侧边按钮-S*/
.sidebar-btn {
  height: 40px;
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 25px; }

/*侧边按钮-E*/
/*侧边标签-S*/
.siderbar-tag {
  padding: 20px; }
  .siderbar-tag a {
    margin: 0 7px 10px 0; }
    .siderbar-tag a:hover, .siderbar-tag a:focus {
      color: #e84a39; }

/*侧边标签-E*/
/*侧边免费设计-S*/
.siderbar-design {
  padding: 20px 35px; }
  .siderbar-design .form-group:last-child {
    margin-bottom: 0; }
  .siderbar-design .form-control {
    display: block;
    width: 100%;
    height: 40px;
    padding: 6px 12px;
    color: #333;
    background-color: #fff;
    background-image: none;
    border: 1px solid #e3e3e3;
    -webkit-box-shadow: none;
    box-shadow: none; }
    .siderbar-design .form-control::-moz-placeholder {
      color: #ccc; }
    .siderbar-design .form-control:-ms-input-placeholder {
      color: #ccc; }
    .siderbar-design .form-control::-webkit-input-placeholder {
      color: #ccc; }
  .siderbar-design .select {
    margin: 0 -20px 10px; }
    .siderbar-design .select [class^=col-] {
      padding: 0 5px; }
    .siderbar-design .select select {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      outline: none;
      font-weight: 100; }
    .siderbar-design .select label {
      width: 100%; }
      .siderbar-design .select label:after {
        top: 20px;
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-color: #666 transparent transparent transparent;
        border-width: 5px;
        font-size: 0;
        position: absolute;
        right: 15px; }
  .siderbar-design .open > .btn-white, .siderbar-design .open > .btn-white:active {
    box-shadow: none; }
  .siderbar-design .btn-submit {
    height: 40px;
    font-size: 16px; }

/*侧边免费设计-E*/
/*侧边最新会员-S*/
.sidebar-newuser {
  padding: 20px 20px 10px; }
  .sidebar-newuser a:hover {
    text-decoration: none; }
  .sidebar-newuser > div {
    text-align: center; }
  .sidebar-newuser .avatar {
    position: relative;
    width: 50px; }
    .sidebar-newuser .avatar .img-circle {
      width: 50px;
      height: 50px; }
  .sidebar-newuser .name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 12px;
    color: #999;
    margin-bottom: 15px; }

/*侧边最新会员-E*/
/*侧边热门文章-S*/
.sidebar-article {
  padding: 20px; }
  .sidebar-article .media {
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px dotted #e3e3e3; }
    .sidebar-article .media:last-child {
      padding-bottom: 0;
      border-bottom: 0;
      margin-bottom: 0; }
    .sidebar-article .media .media-heading {
      margin-bottom: 10px; }
      .sidebar-article .media .media-heading a {
        display: inline-block;
        font-family: "微软雅黑";
        font-size: 14px;
        color: #333;
        text-overflow: ellipsis;
        max-height: 16px;
        overflow: hidden; }
    .sidebar-article .media .media-left img {
      width: 100px;
      height: 70px; }
    .sidebar-article .media .media-body {
      font-family: "微软雅黑";
      font-size: 12px;
      color: #999; }
      .sidebar-article .media .media-body p {
        max-height: 35px;
        overflow: hidden; }

/*侧边热门文章-E*/
/*侧边搜索框-S*/
.sidebar-search {
  margin-bottom: 20px; }
  .sidebar-search .form-control {
    border-color: #e3e3e3;
    box-shadow: none;
    height: 40px; }
    .sidebar-search .form-control:focus {
      border-color: #e3e3e3;
      box-shadow: none; }
  .sidebar-search .input-group-btn > .btn {
    height: 40px; }

/*侧边搜索框-E*/
/*侧边按阶段查看-S*/
.sidebar-filter {
  margin: 20px;
  padding-bottom: 20px;
  border-left: 1px solid #e3e3e3;
  background: #fff; }
  .sidebar-filter .class-steps {
    border-bottom: 1px solid #e3e3e3;
    height: 12px;
    margin-bottom: 30px; }
    .sidebar-filter .class-steps .inner {
      margin-left: 25px;
      background: #fff;
      font-family: "微软雅黑";
      font-size: 14px;
      color: #333;
      font-weight: 200; }
    .sidebar-filter .class-steps a {
      color: #333; }
      .sidebar-filter .class-steps a:hover {
        text-decoration: none; }
    .sidebar-filter .class-steps .icon {
      display: inline-block;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      border: 1px solid #e84a39;
      margin-right: 5px;
      vertical-align: middle; }
    .sidebar-filter .class-steps.active a, .sidebar-filter .class-steps:hover a, .sidebar-filter .class-steps:focus a {
      color: #e84a39; }
    .sidebar-filter .class-steps.active .icon, .sidebar-filter .class-steps:hover .icon, .sidebar-filter .class-steps:focus .icon {
      background: #e84a39; }
  .sidebar-filter li:first-child .class-steps {
    margin-left: -1px;
    background: #fff;
    z-index: 10; }
    .sidebar-filter li:first-child .class-steps .inner {
      margin-left: 26px; }
  .sidebar-filter .class-link {
    padding: 10px 15px; }
    .sidebar-filter .class-link .row {
      margin-left: 6px;
      margin-right: 6px; }
    .sidebar-filter .class-link [class^=col-] {
      margin-bottom: 10px;
      padding-left: 6px;
      padding-right: 6px; }
    .sidebar-filter .class-link a {
      display: block;
      padding: 3px 0;
      text-align: center;
      border: 1px solid #e3e3e3;
      border-radius: 4px;
      font-family: "微软雅黑";
      font-size: 12px;
      color: #666; }
      .sidebar-filter .class-link a:hover {
        background: #e84a39;
        color: #fff;
        text-decoration: none;
        border-color: #e84a39; }
    .sidebar-filter .class-link .active {
      background: #e84a39;
      color: #fff;
      border-color: #e84a39; }

@media (min-width: 992px) and (max-width: 1200px) {
  .sidebar-filter .class-steps .inner {
    margin-left: 20px; }
  .sidebar-filter .class-link {
    padding: 10px; } }
/*侧边按阶段查看-E*/

/*# sourceMappingURL=sidebar.css.map */
