@charset "UTF-8";
/*侧边用户模块-S*/
.sidebar-user {
  /*角色-S*/
  /*积分-S*/
  /*积分-E*/
  /*主页-S*/
  /*主页-E*/
  /*互动-S*/
  /*互动-E*/ }
  .sidebar-user .img-circle {
    width: 50px;
    height: 50px; }
  .sidebar-user .media {
    margin: 10px 20px; }
  .sidebar-user .media-body {
    padding-top: 10px; }
  .sidebar-user .media-heading {
    margin-bottom: 10px; }
  .sidebar-user .avatar {
    position: relative;
    display: block; }
  .sidebar-user .side {
    display: inline-block;
    margin-left: 10px; }
  .sidebar-user .integral {
    font-size: 10px;
    margin-right: 10px; }
    .sidebar-user .integral i {
      margin-right: 10px; }
  .sidebar-user .homepage {
    font-size: 12px;
    color: #333; }
  .sidebar-user .interact {
    padding: 0;
    margin: 0 auto 20px; }
    .sidebar-user .interact li {
      text-align: center;
      width: 30%; }
      .sidebar-user .interact li p {
        margin-bottom: 0; }
    .sidebar-user .interact li + li {
      border-left: 1px #e3e3e3 dotted; }

/*侧边用户模块-E*/
/*用户弹出层(自己的)-S*/
.avatar-box {
  display: inline-block;
  position: relative; }

.popover-user {
  position: absolute;
  display: block;
  z-index: 1000;
  width: 220px;
  top: 100%;
  margin-top: 10px;
  left: 50%;
  margin-left: -110px;
  padding: 10px 0;
  font-size: 12px;
  background-color: #fff;
  border: 1px solid #e3e3e3;
  border-radius: 4px; }
  .popover-user:before {
    position: absolute;
    top: -7px;
    left: 50%;
    margin-left: -7px;
    display: inline-block !important;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #e3e3e3;
    border-left: 7px solid transparent;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    content: ''; }
  .popover-user:after {
    position: absolute;
    top: -6px;
    left: 50%;
    margin-left: -6px;
    display: inline-block !important;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #fff;
    border-left: 6px solid transparent;
    content: ''; }
  .popover-user .media {
    margin: 10px 20px;
    /*角色-S*/
    /*积分-S*/
    /*积分-E*/
    /*主页-S*/
    /*主页-E*/
    /*互动-S*/
    /*互动-E*/ }
    .popover-user .media .avatar {
      position: relative;
      display: block; }
    .popover-user .media .media-body {
      padding-top: 0; }
    .popover-user .media .side {
      display: inline-block;
      margin-left: 10px;
      font-size: 12px; }
    .popover-user .media .integral {
      font-size: 10px;
      margin-right: 10px; }
      .popover-user .media .integral i {
        margin-right: 10px; }
    .popover-user .media .homepage {
      font-size: 12px;
      color: #333; }
    .popover-user .media .interact {
      padding: 0;
      margin: 0 auto 20px; }
      .popover-user .media .interact li {
        text-align: center;
        width: 30%; }
        .popover-user .media .interact li p {
          margin-bottom: 0; }
      .popover-user .media .interact li + li {
        border-left: 1px #e3e3e3 dotted; }

/*用户弹出层(自己的)-E*/
/*用户弹出层(别人的)-S*/
.popover-user-o {
  position: absolute;
  display: block;
  z-index: 1000;
  width: 250px;
  top: 100%;
  margin-top: 10px;
  left: 50%;
  margin-left: -125px;
  padding: 10px 0;
  font-size: 12px;
  background-color: #fff;
  border: 1px solid #e3e3e3;
  border-radius: 4px; }
  .popover-user-o:before {
    position: absolute;
    top: -7px;
    left: 50%;
    margin-left: -7px;
    display: inline-block !important;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #e3e3e3;
    border-left: 7px solid transparent;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    content: ''; }
  .popover-user-o:after {
    position: absolute;
    top: -6px;
    left: 50%;
    margin-left: -6px;
    display: inline-block !important;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #fff;
    border-left: 6px solid transparent;
    content: ''; }
  .popover-user-o .media {
    margin: 10px 20px;
    /*角色-S*/
    /*积分-S*/
    /*积分-E*/
    /*主页-S*/
    /*主页-E*/
    /*互动-S*/
    /*互动-E*/ }
    .popover-user-o .media .avatar {
      display: block;
      width: 50px;
      height: 50px; }
    .popover-user-o .media .media-body {
      padding-top: 0; }
    .popover-user-o .media .name {
      padding-bottom: 10px;
      color: #333; }
    .popover-user-o .media .side {
      margin-left: 10px;
      font-size: 12px; }
    .popover-user-o .media .integral {
      font-size: 10px;
      margin-right: 10px; }
      .popover-user-o .media .integral i {
        margin-right: 10px; }
    .popover-user-o .media .homepage {
      font-size: 12px;
      color: #333; }
    .popover-user-o .media .interact {
      padding: 0;
      margin: 0 auto 20px; }
      .popover-user-o .media .interact li {
        text-align: center;
        width: 30%; }
        .popover-user-o .media .interact li p {
          margin-bottom: 0; }
      .popover-user-o .media .interact li + li {
        border-left: 1px #e3e3e3 dotted; }
    .popover-user-o .media .media-body .btn:first-child {
      margin-right: 10px; }

/*用户弹出层(别人的)-E*/

/*# sourceMappingURL=user.css.map */
